body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
  height: 100%;
}

h1 {
  color: #2f3e4a;
}

a, a:visited, a:active {
  color: #fff;
}

.container {
  /* max-width: 900px; */
  max-width: 1450px;
  margin: 50px;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  border: 1px solid #2f3e4a;
  background-color: #228494;
  text-decoration: none;
}

.button.active {
  background: #43ADB8;
  color: #fff;
}

.button:hover {
  color: #fff;  
}


#vis {
  /* width: 1175px; */
  /* height: 800px; */
  width: 100%;
  /* height: 90%; */
  clear: both;
  margin-bottom: 10px;
  background-color: #43ADB8;
}

#toolbar {
  margin-top: 10px;
}

.site {
  font-size: 21px;
  fill: #fff;
  cursor: default;
}

.site:hover {
  font-weight: bold;
}

.toothClassification {
  font-size: 21px;
  fill: #fff;
  cursor: default;
}

.toothClassification:hover {
  font-weight: bold;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.footer {
  text-align: center;
  background: #43ADB8;
  padding: 10px;
  color: #fff;;
}


.two-columns {
  
  column-count: 2;        /* Splits the content into 2 columns */
  column-gap: 10px;       /* Sets the space between the columns */
  text-align: left;       /* Ensures both columns are left-aligned */
  padding-left: 300px;
}
  

.unbroken-circle {
  display: inline-block;  /* Makes the div behave like an inline element */
  width: 10px;    /* Diameter = 2 * radius (5px radius, so 10px diameter) */
  height: 10px;   /* Same as width to make it a circle */
  background-color: #f5982f; /* Color of the circle */
  /* border: 2px solid #000; */
  border-radius: 50%;  /* Makes the shape circular */
}

.broken-circle {
  display: inline-block;  /* Makes the div behave like an inline element */
  width: 5px;    /* Diameter = 2 * radius (5px radius, so 10px diameter) */
  height: 5px;   /* Same as width to make it a circle */
  background-color: #fcfbfa; /* Color of the circle */
  /* border: 0.5px solid #000; */
  border-radius: 50%;  /* Makes the shape circular */
}

.mould-circle {
  display: inline-block;  /* Makes the div behave like an inline element */
  width: 16px;    /* Diameter = 2 * radius (5px radius, so 10px diameter) */
  height: 16px;   /* Same as width to make it a circle */
  background-color: #c91c6d; /* Color of the circle */
  border-radius: 50%;  /* Makes the shape circular */
}